<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace = "~{fragments/head}">
</head>

<body>
<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>

<div class="container">
    <h2 class="text-center text-white">Login</h2>
    <form
            th:method="post"
            th:action="@{/users/login}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div>
        <div class="form-group">
            <label for="email" class="text-white font-weight-bold">Email</label>
            <input
                   id="email"
                   value="email"
                   name="email"
                   type="text"
                   class="form-control"
                   placeholder="Email"/>
        </div>
        <div class="form-group">
            <label for="password" class="text-white font-weight-bold">Password</label>
            <input
                    id="password"
                    value="password"
                    name="password"
                    type="password"
                    class="form-control"
                    placeholder="Password"/>
        </div>
            <p class="errors alert alert-danger">
                Invalid username / password.
            </p>
        </div>
        


        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Submit Offer"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <footer> </footer>
</div>
</body>
</html>
