<!DOCTYPE html>
<html lang="en"
                xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}">
</head>

<body>

<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>


<div class="container-fluid">
    <h2 class="text-center text-white mt-5">All Offers</h2>
    <div class="offers row mx-auto d-flex flex-row justify-content-center">
        <div
                th:each="offer: ${offers.getContent()}"
                th:object="${offer}"

                class="offer card col-sm-6 col-md-3  col-lg-2 m-1 p-0">
            <div class="card-img-top-wrapper">
                <img class="card-img-top" th:src="*{imageUrl}" alt="Car image">
            </div>
            <div class="card-body pb-1">
                <h5 class="card-title" th:text="*{summary()}">
                    Offer year Brand name Model name</h5>
            </div>
            <ul class="offer-details list-group list-group-flush">
                <li class="list-group-item">
                    <div class="card-text">
                        <span>• Mileage</span>
                        <th:block th:text="*{mileage}"></th:block>
                    </div>
                    <div class="card-text">
                        <span>• Price</span>
                        <th:block th:text="*{price}"></th:block>
                    </div>
                    <div class="card-text">
                        <span>• Engine type</span>
                        <th:block th:text="*{engine}"></th:block>
                    </div>
                    <div class="card-text">
                        <span>• Transmission type</span>
                        <th:block th:text="*{transmission}"></th:block>
                    </div>
                </li>
            </ul>
            <div class="card-body">
                <a class="card-link" th:href="@{/offer/{offerUUID}(offerUUID=*{uuid})}">Details</a>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <ul class="pagination justify-content-center">

                <!-- First page logic -->
                <li class="page-item" th:classappend="${offers.first ? 'disabled' : ''}">
                    <a th:if="${offers.first}" class="page-link" href="#" tabindex="-1">First</a>
                    <a th:unless="${offers.first}" class="page-link" th:href="@{/offers/all(size=${offers.size})}" tabindex="-1">First</a>
                </li>
                <!-- First page logic -->

                <!-- Previous page logic -->
                <li class="page-item" th:classappend="${offers.number == 0 ? 'disabled' : ''}">
                    <a th:if="${offers.number == 0}" class="page-link" href="#" tabindex="-1">Previous</a>
                    <a th:unless="${offers.number == 0}" class="page-link" th:href="@{/offers/all(size=${offers.size}, page=${offers.number - 1})}" tabindex="-1">Previous</a>
                </li>
                <!-- Previous page logic -->

                <!-- Dynamic page numbers -->
                <li class="page-item" th:each="i : ${#numbers.sequence(0, offers.totalPages - 1)}" th:classappend="${i == offers.number ? 'active' : ''}">
                    <a class="page-link" th:href="@{/offers/all(size=${offers.size}, page=${i})}" th:text="${i + 1}"></a>
                </li>
                <!-- Dynamic page numbers -->

                <!-- Next page logic -->
                <li class="page-item" th:classappend="${offers.number + 1 == offers.totalPages ? 'disabled' : ''}">
                    <a th:if="${offers.number + 1 == offers.totalPages}" class="page-link" href="#" tabindex="-1">Next</a>
                    <a th:unless="${offers.number + 1 == offers.totalPages}" class="page-link" th:href="@{/offers/all(size=${offers.size}, page=${offers.number + 1})}" tabindex="-1">Next</a>
                </li>
                <!-- Next page logic -->

                <!-- Last page logic -->
                <li class="page-item" th:classappend="${offers.last ? 'disabled' : ''}">
                    <a th:if="${offers.last}" class="page-link" href="#">Last</a>
                    <a th:unless="${offers.last}" class="page-link" th:href="@{/offers/all(size=${offers.size}, page=${offers.totalPages - 1})}">Last</a>
                </li>
                <!-- Last page logic -->

            </ul>

        </div>
    </div>
</div>

<div>
    <footer></footer>
</div>

</body>
</html>
